.Home {
  background-image: url(../../static/londonMap.JPG);
  display: grid;
  background: cover;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    ". . . ."
    "logo logo logo logo"
    ". paragraph paragraph ."
    ". gameSettings gameSettings ."
    ". . . . ";
  align-items: center;
  grid-row-gap: 10%;
}
.StartButtonContainer {
  width: 100%;
  height: 25%;
}

.difficultySelector {
  width: 100%;
  height: 55%;
}
.paragraph {
  grid-area: paragraph;
  font-family: Roboto;
  color: #4f4f4f;
  text-align: center;
  margin: 0;
}
.gameSettings {
  width: 50%;
  /* I have to set the margin left to the rest of the width divided by two because I probably set up the layout wrong somehow. */
  margin-left: 25%;
  margin-bottom: 20%;
  height: 60%;
  grid-area: gameSettings;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  width: 100%;
  grid-area: logo;
  justify-content: center;
}
.logoImg {
  width: 600px;
}

@media only screen and (max-width: 400px) {
  .paragraph {
    text-align: center;
    /* margin: 0 !important; */
  }
  .gameSettings {
    margin-top: 6%;
    width: 100%;
    height: 100%;
    grid-area: gameSettings;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
  }
  .logo {
    width: 100vw;
  }
  .logoImg {
    width: 300px;
  }
}

@media only screen and (max-width: 550px) {
  .difficultySelector {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    grid-area: difficultySelector;
  }
  .logoImg {
    width: 150px;
  }
  .logo {
    width: 100vw;
  }
}

@media only screen and (max-width: 750px) {
  .logo {
  }
  .logoImg {
    width: 500px;
  }
  .difficultySelector {
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: center;
    grid-area: difficultySelector;
  }
}
@media only screen and (max-width: 950px) {
  .logo {
    margin-left: 3%;
  }
  .logoImg {
    width: 550px;
  }
}
@media only screen and (max-width: 1150px) {
  .logo {
    margin-left: 3%;
  }
  .logoImg {
    width: 550px;
  }
}
