.NavBar {
  background-color: #e63946;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0.5;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.Logo {
  height: 80%;
  width: 10%;
  margin-left: -2.5%;
}
.Logo img {
  height: 100%;
  width: 100%;
}
