@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  font-family: Roboto;
}
.NavBar {
  height: 7vh;
}

.Body {
  height: 93vh;
}

.HomeWrapper {
  height: 93vh;
}

.HomeWrapper > * {
  margin: 0;
  padding: 0;
  height: 93vh;
}
